::-webkit-scrollbar {
  display: none;
}

:root {
  --r: 0%;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/*
  9. Colours 
*/
:root {
  --off-white: #fafbf9;
  --light-grey: #e8e9e1;
  --concrete-gray: #c8c9c2;
  --deep-gray: #6b6e69;
  --dark-gray: #555853;
  --black: #000000;
}
/*
  10. Fonts 
*/
@font-face {
  font-family: "ChromasT_Bold";
  font-weight: bold;
  font-display: swap;
  src: url(/fonts/ChromaST_Bold.woff2) format("woff2");
}

@font-face {
  font-family: "GaramondNarrowC";
  font-style: bold;

  font-display: swap;
  src: url(/fonts/GaramondNarrowC.otf) format("opentype");
}

.en-font p {
  margin: 0 auto;
  font-family: "GaramondNarrowC";
}

.jp-font p {
  font-family: "Noto Serif JP", sans-serif;
}

@media (min-width: 767px) {
  p {
    font-size: min(max(1.5rem, 3vw), 2.4em);

    margin-bottom: 1.6rem;
    line-height: 1;
  }
}

/*
  10. Links
*/

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: black;
}

/*
  11. Layout
*/

html {
  min-height: -webkit-fill-available;
}

.app {
  background: var(--light-grey);
  max-width: 100vw;
  min-height: -webkit-fill-available;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  position: relative;
}

.app > header {
  grid-area: header;
}

.app > main {
  max-width: 100vw;
  grid-area: main;
  padding: 0.5rem 1rem;
  margin-top: 44.2px;
}

.app > footer {
  max-width: 100vw;
  grid-area: footer;
  text-align: center;
}
footer > a {
  z-index: 20000;
  display: block;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0.75rem;
  width: 100vw;
  background: transparent;
  /* background: var(--light-grey); */
}

main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(12, 1fr);
}

footer > a {
  display: block;
}

footer > a > svg {
  margin: 0 auto;
  width: calc(100vw - 1.5rem);
  margin: 0 auto;
}

.logo-text {
  display: none;
}

@media (min-width: 767px) {
  .logo-text {
    display: block;
  }
}
/*
  12. Header
*/

.navbar {
  font-family: "ChromasT_Bold";
  padding: 1rem 0.25rem 0.75rem 0.25rem;
  color: #c8c9c2;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10000;
  z-index: 10000;
  position: fixed;
  top: 0;
  overflow: scroll;
}

.center-links {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: auto;
}

.navbar a {
  display: inline-block;
  text-decoration: none;
  margin: 0 15px;
  text-transform: uppercase;
}

@media (min-width: 767px) {
  .language-toggle {
    margin-left: auto;
    margin-right: 10px;
  }
  .center-links {
    position: absolute;
    flex: 0 1 auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar a {
    margin: 0 25px;
  }
}

a.language-label {
  margin: 0 5px;
  transition: color 0.3s ease;
}

.language-toggler--seperator {
  display: inline;
}

a.label-jp {
  font-size: 0.8rem;
  margin-bottom: 0.15rem;
  font-weight: 700;
}

.dropdown-container {
  display: inline-block;
  height: 100%;
}

.dropdown-content-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin-top: -1rem;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 100000;
}

a.language-label {
  color: #c8c9c2;
}
a.langActive {
  color: black;
}

/*
  12. Pages
*/

.page-container {
  grid-column: 1/13;
}

.page-container__home {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-container__home p {
  margin-bottom: 0;
}

.page-container p {
  text-align: center;
}

.page-container p:last-child {
  padding-bottom: 5rem;
}

.page-container .mission-text {
  text-align: left;
}

/*
  12. Dropdown images
*/

.roterItemsList > li > a {
  margin: 0;
  text-align: center;
  text-transform: initial;
  font-family: "GaramondNarrowC";
  line-height: 1.1;
  font-size: 1.75rem;
  color: initial;
}

.roterItemsList > li > a.roster-list-items-hovered.dark {
  color: #6b6e69;
}
.roterItemsList > li > a.roster-list-items-hovered.light {
  color: #f7f8ed;
}
.roterItemsList > li > a.roster-list-items-project-hovered.light {
  color: #000;
}
.roterItemsList > li > a.roster-list-items-project-hovered.dark {
  color: #fff;
}

.roterItemsList > li:first-child {
  margin-top: 0.75rem;
}

@media (min-width: 1280px) {
  .roterItemsList > li > a {
    font-size: 2.6rem;
    line-height: 1.1;
  }
  .roterItemsList > li:first-child {
    margin-top: 1.25rem;
  }
}

.jp-font .roterItemsList > li > a {
  font-family: "Noto Serif JP", sans-serif;
}

.roster-image-motion-container {
  position: absolute;
  top: 44px;
  width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roster-image-container {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .roster-image-motion-container {
    top: 0;
  }
  .roster-image-container {
    height: 100%;
    width: 100%;
  }
}

.roster-image {
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.roster-image.light {
  /* background: #e8e9e1; */
  opacity: 0.9;
}

.roster-image.dark {
  /* background: var(--concrete-gray); */
}

/* @media (min-width: 767px) {
  .roster-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:
  }
}  */

header {
  position: relative;
  width: 100vw;
}

.center-links,
.lanuguage-toggle {
  font-size: 1rem;
}

.page_container {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.page-container__home > p,
.page-container > p {
  font-size: 1.75rem;
  line-height: 1.1;
  font-weight: 500;
  color: #000;
}

.page-container__home {
  height: 100vh;
}

.page-container > p {
  margin-bottom: 1.75rem;
}

@media (min-width: 767px) {
  . .center-links,
  .lanuguage-toggle {
    font-size: 1.1rem;
  }

  .page-container__home > p,
  .page-container > p {
    font-size: 2.2rem;
    font-weight: 500;
    color: #000;
  }

  .page-container > p {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1280px) {
  .center-links,
  .lanuguage-toggle {
    font-size: 1.1rem;
  }

  .page-container__home > p,
  .page-container > p {
    font-size: 2.6rem;
    font-weight: 500;
    color: #000;
  }

  .page-container > p {
    margin-bottom: 1.375rem;
  }
}

.activeLink {
  color: black;
}

.contact_page__links {
  color: #000;
  transition: color 0.3s ease;
}
.contact_page__links:hover {
  color: #c8c9c2;
}

.overflow-scroll {
  overflow-y: auto;
}

.contact-text:first-of-type {
  margin-bottom: 0.2rem;
}
